.filter {
    background-color: #fff;
    border-radius: 16px;

    padding: 32px;
    &__location {
        
    }
    &__date{
       
        padding-top: 16px;
    }
    &__days{
        
        padding-top: 16px;
    
    }
    label {
        color: #424242;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    input {
        margin-top: 7px;
    }
    &__btn {
        margin-top: 32px;
        color: #FFF;


    }
}